@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bruno+Ace+SC&family=Goldman:wght@400;700&display=swap');
:root {
  --bg-main: #0b0f1a;
  --bg-secondary: #0f1629;
  --bg-elevated: #131c33;

  --text-primary: #e6e9f0;
  --text-secondary: #9aa4bf;

  --accent-cyan-soft: rgba(60, 242, 255, 0.15);

  --border-dark: #1f2a44;
  --title-font: 'Goldman', "Anta";
}

html,
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell;
  margin: 0;
  padding: 0;
}

/* Superficie base */
.surface {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-dark);
  border-radius: 12px;
}

/* Cards / panels */
.panel {
  background-color: var(--bg-elevated);
  border: 1px solid var(--border-dark);
  border-radius: 16px;
  box-shadow:
    0 0 0 1px rgba(60, 242, 255, 0.02),
    0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Texto */
.text-muted {
  color: var(--text-secondary);
}



.glow {
  text-shadow:
    0 0 6px rgba(60, 242, 255, 0.6),
    0 0 20px rgba(60, 242, 255, 0.3);
}

/* Links */
a {
  color: var(--accent-cyan);
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 8px rgb(255, 255, 255);
}

/* Separadores */
.divider {
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--accent-cyan-soft),
    transparent
  );
}

/* En tu archivo CSS global */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-200 {
    animation-delay: 200ms;
}